@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #005f32;
}

.container > header,
.codrops-top {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);

}

.container > header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

.container > header a:hover {
	color: #4f7bab;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	margin-top: 117px;
	margin-bottom: 90px;
	
}

.container > header img .logoinicial{
	width: 600px;
}

.container > header span {
	display: block;
	font-size: 55%;
	color: #7ac5a2;
	padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}
.funciona{
	width: 100%;
}

.funcionaint{
	width: 100%;
	height: auto;
	background-image: url("../img/fundolot.png");
	border: 1px solid white; 
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 15px;  
	border-bottom: 1px solid #ccc;  
	border-left: 1px solid #ccc; 
	color: #014525;
	text-align: justify;
	font-size: 15px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.funcionaint2{
	width: 100%;
	height: auto;
	background-image: url("../img/fundolot.png");
	border-radius: 15px;  
	color: #014525;
	text-align: justify;
	padding-bottom: 40px;
	font-size: 15px;
	margin-bottom: 25px;
	-webkit-box-shadow: 3px 3px 3px #014525b6;
	-moz-box-shadow:    3px 3px 3px #014525b6;
	box-shadow:         3px 3px 3px #014525b6;
}

.funcionaint3{
	width: 40%;
	height: auto;
	margin: auto;
	background-image: url("../img/fundolot.png");
	border-radius: 15px;  
	color: #014525;
	text-align: justify;
	padding-bottom: 40px;
	font-size: 15px;
	margin-bottom: 25px;
	-webkit-box-shadow: 3px 3px 3px #014525b6;
	-moz-box-shadow:    3px 3px 3px #014525b6;
	box-shadow:         3px 3px 3px #014525b6;
}

 .titulo{
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
 
}

.titulotermos{
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
	text-align: left;
}

.funcionaint .img01{
	width: 126px;
	float: right;
	margin-top: -65px;
	margin-right: 71%;

}

.funcionaint .img02{
	float: right;
	margin-top: -65px;
	margin-right: 85%;
	width: 43px;

}

.funcionaint .img03{
	float: right;
	margin-top: -65px;
	margin-right: 80%;
	width: 50px;

}

.funcionaint .img04{
	float: right;
	margin-top: -57px;
	margin-right: 70%;
	width: 126px;
}

.funcionaint .img05{
	float: right;
	margin-top: -66px;
	margin-right: 69%;
	width: 50px;
}

.funcionaint .img06{
	float: right;
	margin-top: -5%;
	margin-right: 87%;
	width: 43px;
}

.funcionaint .img07{
	float: right;
	margin-top: -5%;
	margin-right: 88%;
	width: 43px;
}

@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: left;
		
	}


}

@media screen and (max-width: 740px) {

	.codrops-icon span {
		display: none;
	}

	.logoinicial{
		display: none;
	}

	.funcionaint{
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;
	}

	.funcionaint .img01 {
		width: 285px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 15px;
		margin-right: 20px;

	}

	.funcionaint .img02 {
		width: 65px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 9px;
		margin-right: 20px;
	}

	.funcionaint .img03 {
		width: 65px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 9px;
		margin-right: 20px;
	}

	.funcionaint .img04 {
		width: 285px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 9px;
		margin-right: 20px;
	}
	
	.funcionaint .img05 {
		width: 65px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 9px;
		margin-right: 20px;
	}

	.funcionaint .img06 {
		width: 65px;
		height: auto;
		float: left;
		margin-top: 5px;
		margin-bottom: 9px;
		margin-right: 25px;
	}

	.funcionaint .img07 {
		width: 65px;
		height: auto;
		float: left;
		margin-bottom: 9px;
		margin-right: 25px;
		margin-top: -11%;
		padding-top: 15px;
		
	}

	.titulo{
		text-align: center;
	}

	.container > header h1 {
		font-size: 43px;
		text-align: center;
		margin: 0;
		font-weight: 50;
		margin-top: 83px;
		margin-bottom: 33px;
		
	}
	

	
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color: #014525;
}

.formContato {  
	width: 80%;  
	margin: auto;
	margin-bottom: 100px;
  }  
  .formContato input {
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
	outline: 0 none;
	float: none;
}
 

  .pgContato input {  
	padding-left: 20px;  
	color: #014525;  
	font-size: 18px; 
	font-family: 'Lato', Arial, sans-serif; 
	background-color: white;  
	border: 1px solid white; 
	-moz-border-radius: 5px;  
	-webkit-border-radius: 5px;  
	border-radius: 5px;  
	height: 40px;  
	margin-bottom: 20px;  
	border-bottom: 1px solid #7ac5a2;  
	border-left: 1px solid #7ac5a2; 
  }  

  .pgContato input[type="checkbox"]{
	border-radius: 4px;
	height: 20px;
	width: 20px;
	line-height: 18px;
	float: left;
	margin-left: 155px;
  }

  .pgContato h4{
	font-size: 18px;
	float: left;
	margin-top: 0px;
	font-weight: normal;
  }

  .pgContato h4 a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
  }

  .pgContato h4 a:hover{
	color: #7ac5a2;
  }

  .pgContato input:focus{  
	border: 2px solid #B22222;
  }

  .botaoContato { 
	font-size: 13px;  
	border-radius: 4px;  
	color: #fff;  
	padding: 2px 40px;  
	height: 40px;  
	margin-top: 18px;  
	margin-bottom: 20px;  
	cursor: pointer;  
	background: #B22222;  
	display: inline-block;  
	border: none;  
	border-bottom: 1px solid #500707;  
	border-right: 1px solid #500707;  
	margin-right: 157px;  
	float: right;

  }  

  .botaoContato:hover {   
	transition: 1s; 
	background: rgb(141, 22, 22);
  }  

  .botaoSenhaRecup { 
	font-size: 13px;  
	border-radius: 4px;  
	color: #fff;  
	padding: 0px 14px 0px 35px; 
	height: 40px;  
	margin-top: 18px;  
	margin-bottom: 20px;  
	cursor: pointer;  
	background: url('../img/btn.png') no-repeat;
	display: inline-block;  
	border: none;  
	border-bottom: 1px solid #500707;  
	border-right: 1px solid #500707;  
	margin-right: 157px;  
	float: right;

  }  

  .botaoSenhaRecup:hover { 
	transition: 1s; 
	background: url('../img/btnhover.png') no-repeat;
  }


  @media screen and (max-width: 740px) {
  .botaoContato {  
	float: left;
	margin-left: 3%;
	} 

	.botaoSenhaRecup{ 
    	float: left;
		margin-left: 3%;
	  }
	
	.pgContato input[type="checkbox"]{
		margin-left: 3%;
	  }
	
	  .pgContato h4{
		font-size: 18px;
		float: left;
		margin-top: 0px;
		font-weight: normal;
	  }
}
/* Inicio do Rodapé ---------------------------------------------------------------------------*/

.footer-distributed{
	background-color: #006435;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	font-family: 'Lato', Arial, sans-serif; 
	padding: 50px 50px;
	margin-top: 40px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #51a47d;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}

.footer-distributed .footer-company-name2{
	color:  #51a47d;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	display: none;
}

/* Footer Center */

.footer-center img{
	width: 38px;
	margin-left: 75px;
	padding-bottom: 6px;
}

.seg{
	margin-left: 127px;
	margin-top: -35px;
	color: #fff;
	margin-bottom: 19px;
	padding-bottom: 5px;

}

.zap{
	margin-left: 127px;
	margin-top: -40px;
	color: #fff;
	margin-bottom: 17px;

}

.footer-distributed .footer-center{
	width: 35%;
	margin-top: -12px;
}

.footer-distributed .footer-center i{
	background-color:  #014525;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 10px;
	margin-left: 75px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #7ac5a2;
	font-size: 13px;
	font-weight: normal;
	margin: 0;

}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;

}

.footer-distributed .footer-company-about2{
	line-height: 20px;
	color:  #7ac5a2;
	font-size: 13px;
	font-weight: normal;
	margin: 0;

}

.footer-distributed .footer-company-about2 span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;

}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	display: inline-block;
	width: 202px;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-left img{
	width: 112px;
	height: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 9px;
    margin-right: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px;
		font-family: 'Lato', Arial, sans-serif; 
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media screen and (max-width: 740px) {
	.seg {
		margin-left: 10px;
	}
	.zap{
		margin-left: 50px;
	
	}

	.footer-center img {
		margin-left: -154px;
	}

	.footer-left img {
		width: 200px;
		float: none;
		margin: auto;
		margin-bottom: 40px;
	}

	
	.formContato {  
		width: 100%;  
	} 

	.formContato input {
		width: 90%;
	}

	.container > header {
		padding: 6em 2em;
		
	}

	.footer-distributed .footer-company-name{
		display: none;
	}

	.footer-distributed .footer-company-name2{
		display: block;
	}
}


/* Final do Rodapé ---------------------------------------------------------------------------*/

.tituloplans{
	font-size: 2.625em;
	line-height: 1.3;
	color: aliceblue;
	margin-top: 150px;
	text-align: center;
    font-weight: 50;
	
}

.spanplans {
	display: block;
	font-size: 150%;
	color: #7ac5a2;
	text-align: center;
	margin-top: -35px;;
	margin-bottom: 5%;
	font-weight: 50;
}


  .perfilusu{
	  width: 100%;
	  height: 70px;
	  background-color: #014525;
	  margin: 0;
	  padding: 0;
	  border-radius: 15px 15px 0px 0px;
  }

  .perfilusu img{
	width: 60px;
	height: 60px;
	padding: 12px 1px 0px 13px;
  }

  .perfilusu h3{
	  font-size: 25px;
	  position: relative;
	  margin-top: -53px;
	  margin-left: 80px;
	  color: #fff;
  }

  .perfilusu h2{
	font-size: 15px;
	font-weight: normal;
	color:#7ac5a2;
	margin-top: -25px;
	margin-left: 80px;
  }

  .funcionaint2 p{
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	font-style:italic;
  }

  .funcionaint2 b2{
	color: #014525;
	font-size: 60px;
  }

  .bemvindo{
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
  }

  


  .saldoprincipal{
	width: 100%;
	height: 70px;
	background-color: #014525;
	margin: 0;
	padding: 0;
	border-radius: 15px 15px 0px 0px;
}

.saldoprincipal img{
  width: 60px;
  height: 60px;
  padding: 12px 1px 0px 13px;
}

.saldoprincipal h3{
	font-size: 40px;
	position: relative;
	margin-top: -50px;
	margin-left: 80px;
	color: #fff;
}

.valorsaldo{
  font-size: 130px;
  margin-top: -10%;
  margin-left: 140px;
  margin-bottom: -10px;
}

.valorsaldo02{
	font-size: 50px;
	margin-top: -122px;
	margin-left: 23%;
	margin-bottom: -10px;
	position: absolute;
}

.funcionaint3 p{
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-style:italic;
}

.funcionaint3 b2{
  color: #014525;
  font-size: 60px;
}

.bemvindo{
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 740px){
	.funcionaint3{
		width: 100%;
	}

	.valorsaldo{
		font-size: 130px;
		margin-top: -10%;
		margin-left: 40px;
		margin-bottom: -10px;
	  }
	  
	  .valorsaldo02{
		  font-size: 50px;
		  margin-top: -122px;
		  margin-left: 60%;
		  margin-bottom: -10px;
		  position: absolute;
	}
}

label {
    padding: 12px 12px 12px 0;
	display: inline-block;
	float: left;
	margin-left: 100px;


}

@media screen and (max-width: 740px) and (orientation: landscape){
	.valorsaldo{
		margin-left: 65px;

	  }
	.valorsaldo02{
		margin-left: 37%;
	}
}


.estrelas input[type=radio] {
	display: none;
  }
  .estrelas label i.fa{
	font-size: 2.5em
  }
  .estrelas label i.fa:before {
	content:'\f005';
	color: #FC0;
  }
  .estrelas input[type=radio]:checked ~ label i.fa:before {
	color: #CCC;
  }